{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>
    <head>
        <title>WebApp</title>
    </head>
    <body>
        <header class="container">
            <nav class="navbar navbar-default">
            <div class="navbar-header" style="padding: 10px;">
              App name goes here
            </div>
          </nav>
        </header>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>