{% extends "base.html" %}
{% block content %}
    <div class="row round-all animated slideInDown">
        <h2 class="page-header">Users</h2>
        <table class="table">
            <thead class="table-header">
            <th>#</th>
            <th>Username</th>
            <th>First Name</th>
            <th>Email</th>
            <th class="text-center">Actions</th>
            </thead>
            <tbody>
            {% for user in users %}
                <tr id="user-{{ user.id }}">
                    <td></td>
                    <td><b>{{ user.username }}</b></td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                    <td class="text-center">
                        <a href="{% url 'edit-user' user.id %}"
                           class="btn btn-success">Edit</a>
                        <button class="btn btn-danger"
                                onclick="deleteUser({{ user.id }})">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}